# Build results
[Bb]in/
[Oo]bj/

# NuGet generated
project.lock.json
project.fragment.lock.json
artifacts/
*_i.c
*_p.c
*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json
project.assets.json
*.nuget.cache

# Visual Studio
.vs/
